@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  margin: auto;
  width: 600px;
  max-width: 60%;
  background-color: aliceblue;
}
.main {
  margin: auto;
  border: 1px double black;
  border-radius: 5px;
  width: 40%;
  height: 400px;
  background-color: azure;
}
.domains {
  float: right;
}
